.container-formulario {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .section-formulario {
        display: flex;
        flex-direction: column;
        gap: 10px;
        
        .submit {
            display: flex;
            justify-content: flex-end;

            @media (max-width: 768px) {
                justify-content: flex-start;
              }
        }
    }

    .campo {
        display: flex;
        justify-content: space-between;

        @media (max-width: 768px) {
            justify-content: flex-start;
            gap: 10px;
        }
    }

    .section-mensagem {
        padding-top: 12px;
        font-size: 14px;
        font-weight: 600;
        text-align: center;
    }
}
